<div class="defaulttemplate"><table class="table table-striped">
<tbody><tr class="">
<td class="template-field cell c0" style="">Die Fortbildung hat mich inspiriert:</td>
<td class="template-token cell c1 lastcol" style="">[[question1]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Die Präsentation war anschaulich: </td>
<td class="template-token cell c1 lastcol" style="">[[question2]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Die Informationen helfen mir: </td>
<td class="template-token cell c1 lastcol" style="">[[question3]]</td>
</tr>
</tbody>
</table>
</div>