];
const a = matrix.map((y) => y.reduce((a, b) => a + b));
const b = matrix.reduce((a, b) => a.map((v, i) => v + b[i]));
const c = matrix.flat().reduce((a , b) => a + b);

let sum = [];
for ( let i=0; i<=b.length; i++ ) {
    sum[i] = JSON.stringify(b[i]);
}
function transpose(matrix) {
  return matrix.reduce((prev, next) => next.map((item, i) =>
    (prev[i] || []).concat(next[i])
  ), []);
}
var transposedMatrix = transpose(matrix);
let Value = [];
for ( let i=0; i<=b.length; i++ ) {
Value[i] = transposedMatrix[i];
}
minValue = Math.min(...Value)

    let questions = array;
    const questionbar = document.getElementById("links");
    questions.forEach((question, index) => {
        var counts = Value[index];
        let average = sum[index];
        let matrixlength = transposedMatrix[index];
        let color = colors[index];
        const container = document.createElement("div");
        container.classList.add("container");
        container.innerHTML = '<div style="font-size: x-large;margin-top:40px;"><div id="counter"><div class="question">' + question + '</div><div class="barprogress" style="border: 1px solid #000;background-color:' + color + '"><div class="barprogress__bar" style="width:' + (Math.max(...counts)-Math.min(...counts))*10 + '%;margin-left:' + Math.min(...counts)*10 + "%" + '"></div><div class="baraverage" style="left:' + (average*10/matrixlength.length).toFixed(1) + '%"><br><span class="averagetext">' + (average/matrixlength.length).toFixed(1) + '</span></span></div></div></div>';
        questionbar.appendChild(container);
    });
    </script>