<script>
window.addEventListener("load", () => {
  var qrc = new QRCode(document.getElementById("qrcode"), {
    text: window.location.href,
    width: 200,
    height: 200,
    colorDark: "#000000",
    colorLight: "#ffffff",
    // QRCode.CorrectLevel.L | QRCode.CorrectLevel.M | QRCode.CorrectLevel.H
    correctLevel : QRCode.CorrectLevel.H
  });
});
</script><h2 style="margin-top:20px;margin-bottom:40px;">Feedback aller Teilnehmer</h2>
<div class="board" style="margin-bottom: 40px;">
    <div class="flex-item" style="border-right: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-lr;font-size: x-large;text-align:center">Ablehnung</div>
    <div class="flex-item" style="max-width:900px;min-width:300px;">
      <div style="font-size: x-large;margin-top:40px;" id="links"></div>
       </div>
    <div class="flex-item" style="border-left: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-rl;font-size: x-large;text-align:center">Zustimmung</div>
    </div>
    
<!-- Hier folgend die Fragen/Aussagen eingeben -->
<script>let array = ["Die Fortbildung hat mich inspiriert", "Die Präsentation war anschaulich", "Die Informationen helfen mir"];

<!-- Hier folgend die Farben eingeben -->
let colors = ["#ff0080", "#08d2fb", "#29d23a", "#9534eb", "#d45d02", "#0264d4", "#838587", "#00b36e", "#e82102",  "#02e8dd"]

let matrix = [