<h2>##userpicture####user##</h2>
<script>
let question1 = "Die Fortbildung hat mich inspiriert";
let question2 = "Die Präsentation war anschaulich";
let question3 = "Die Informationen helfen mir";

    let matrix = [
[[[question1]], [[question2]], [[question3]]],
];

const a = matrix.map((y) => y.reduce((a, b) => a + b));
const b = matrix.reduce((a, b) => a.map((v, i) => v + b[i]));
const c = matrix.flat().reduce((a , b) => a + b);

let sum1 = JSON.stringify(b[0]);
let sum2 = JSON.stringify(b[1]);
let sum3 = JSON.stringify(b[2]);

function transpose(matrix) {
  return matrix.reduce((prev, next) => next.map((item, i) =>
    (prev[i] || []).concat(next[i])
  ), []);
}

var transposedMatrix = transpose(matrix);
let minValue1 = Math.min(...transposedMatrix[0]);
let minValue2 = Math.min(...transposedMatrix[1]);
let minValue3 = Math.min(...transposedMatrix[2]);

let maxValue1 = Math.max(...transposedMatrix[0]);
let maxValue2 = Math.max(...transposedMatrix[1]);
let maxValue3 = Math.max(...transposedMatrix[2]);

let average1 = (sum1/transposedMatrix[0].length).toFixed(1);
let average2 = (sum2/transposedMatrix[1].length).toFixed(1);
let average3 = (sum3/transposedMatrix[2].length).toFixed(1);

let width1 = (maxValue1-minValue1)*10;
let width2 = (maxValue2-minValue2)*10;
let width3 = (maxValue3-minValue3)*10;

let c1 = 0;
if (question1 === "") {
c1 = "display:none";
} else {
c1 = "";
};

let c2;
if (question2 === "") {
c2 = "display:none";
} else {
c2 = "";
};

let c3;
if (question3 === "") {
c3 = "display:none";
} else {
c3 = "";
};


</script>

<div class="board">
<div class="flex-item" style="border-right: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-lr;font-size: x-large;text-align:center">Ablehnung</div>
<div class="flex-item" style="max-width:900px;min-width:300px;">
  <div style="font-size: x-large;margin-top:40px;"><span id="counter"></span></div>
<div style="font-size: x-large;margin-top:40px;"><span id="counter2"></span></div>
<div style="font-size: x-large;margin-top:40px;"><span id="counter3"></span></div>
</div>
<div class="flex-item" style="border-left: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-rl;font-size: x-large;text-align:center">Zustimmung</div>
</div>
<script>
document.getElementById('counter').innerHTML = '<div class="question" style="'+ c1 +'">' + question1 + '</div><div class="barprogress" style="background-color: #ff0080;' + c1 +'"><div class="barprogress__bar" style="margin-left:' + minValue1.toFixed(0)*10 + '%;width:' + width1.toFixed(0) + '%;"></div><div class="baraverage" style="left:' + average1*10 + '%"><br><span class="averagetext">' + average1 + '</span></div>';
</script>
<br>
<script>
document.getElementById('counter2').innerHTML = '<div class="question" style="'+ c2 +'">' + question2 + '</div><div class="barprogress" style="background-color: #08d2fb;' + c2 +'"><div class="barprogress__bar" style="margin-left:' + minValue2.toFixed(0)*10 + '%;width:' + width2.toFixed(0) + '%;"></div><div class="baraverage" style="left:' + average2*10 + '%"><br><span class="averagetext">' + average2 + '</span></div>';
</script>

<script>
  document.getElementById('counter3').innerHTML = '<div class="question" style="'+ c3 +'">' + question3 + '</div><div class="barprogress" style="background-color: #29d23a;' + c3 +'"><div class="barprogress__bar" style="margin-left:' + minValue3.toFixed(0)*10 + '%;width:' + width3.toFixed(0) + '%;"></div><div class="baraverage" style="left:' + average3*10 + '%"><br><span class="averagetext">' + average3 + '</span></div>';
  </script>

<br><br>
##edit## ##delete## 