<h2 style="margin-top:20px;margin-bottom:40px;">##userpicture## ##user##</h2>
<div class="board" style="margin-bottom: 40px;">
    <div class="flex-item" style="border-right: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-lr;font-size: x-large;text-align:center">Ablehnung</div>
    <div class="flex-item" style="max-width:900px;min-width:300px;">
      <div style="font-size: x-large;margin-top:40px;" id="links"></div>
       </div>
    <div class="flex-item" style="border-left: 2px solid rgb(153, 153, 153);width: 50px;writing-mode: vertical-rl;font-size: x-large;text-align:center">Zustimmung</div>
    </div>
    
<!-- Hier folgend die Fragen/Aussagen eingeben -->
<script>let array = ["Die Fortbildung hat mich inspiriert", "Die Präsentation war anschaulich", "Die Informationen helfen mir"];
 
<!-- Hier folgend die Farben eingeben -->
let colors = ["#ff0080", "#08d2fb", "#29d23a", "#9534eb", "#d45d02", "#0264d4", "#838587", "#00b36e", "#e82102",  "#02e8dd"]
   
let matrix = [
[[[question1]], [[question2]], [[question3]] ]
];

const a = matrix.map((y) => y.reduce((a, b) => a + b));
const b = matrix.reduce((a, b) => a.map((v, i) => v + b[i]));
const c = matrix.flat().reduce((a , b) => a + b);

let sum = [];
for ( let i=0; i<=b.length; i++ ) {
    sum[i] = JSON.stringify(b[i]);
}
function transpose(matrix) {
  return matrix.reduce((prev, next) => next.map((item, i) =>
    (prev[i] || []).concat(next[i])
  ), []);
}
var transposedMatrix = transpose(matrix);
let Value = [];
for ( let i=0; i<=b.length; i++ ) {
Value[i] = transposedMatrix[i];
}
minValue = Math.min(...Value)

let questions = array;
    const questionbar = document.getElementById("links");
    questions.forEach((question, index) => {
        var counts = Value[index];
        let average = sum[index];
        let matrixlength = transposedMatrix[index];
        let color = colors[index];
        const container = document.createElement("div");
        container.classList.add("container");
        container.innerHTML = '<div style="font-size: x-large;margin-top:40px;"><div id="counter"><div class="question">' + question + '</div><div class="barprogress" style="border: 1px solid #000;background-color:' + color + '"><div class="barprogress__bar" style="width:' + (Math.max(...counts)-Math.min(...counts))*10 + '%;margin-left:' + Math.min(...counts)*10 + "%" + '"></div><div class="baraverage" style="left:' + (average*10/matrixlength.length).toFixed(1) + '%"><br><span class="averagetext">' + (average/matrixlength.length).toFixed(1) + '</span></span></div></div></div>';
        questionbar.appendChild(container);
    });
    </script>
##edit## ##delete##